.movie-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);
  background-position: 100%;
  padding-top: 20px;
  transition-property: visibility, opacity;
  transition-duration: 300ms;
  transition-timing-function: linear;

  &__content {
    position: relative;
    text-align: left;
    min-width: 280px;
    max-width: 440px;
    height: 90%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--white);
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 48px 20px 20px 20px;
    overflow-y: auto;
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
  }

  &__image-container {
    width: 240px;
    height: auto;
    border-radius: 5px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__movie-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include font($fw: 500, $fs: 12px, $lh: 16px, $tal: left);
  }
  &__params {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
  }

  &__movie-title {
    @include font($fw: 500, $fs: 20px, $lh: 35px, $tal: left, $tt: uppercase);
    color: var(--black);
    padding-bottom: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  &__about-section h4 {
    padding-bottom: 10px;
  }
  &__svg {
    width: 30px;
    height: 30px;
  }
  &__rating-value {
    line-height: 14px;
    color: var(--white);
    background: var(--orange-info);
    padding: 1px 9px;
    border-radius: 5px;
  }
  &__rating-amount {
    line-height: 14px;
    color: var(--black);
    background: var(--background-footer);
    padding: 1px 4px;
    border-radius: 5px;
  }
  &__movie-description {
    line-height: 20px;
    padding-top: 10px;
  }
}
.movie-modal__movie-rating,
.movie-modal__movie-popularity,
.movie-modal__movie-original-title,
.movie-modal__movie-genre {
  color: var(--modal-params);
  display: inline-block;
  width: 100px;
}
.movie-modal__popularity-value,
.movie-modal__original-title-value,
.movie-modal__genre-value {
  text-transform: uppercase;
}
.button {
  width: 112.58px;
  height: 44px;
  border-radius: 5px;
  @include font($fw: 500, $fs: 12px, $lh: 16px, $tal: center, $tt: uppercase);
  cursor: pointer;
}
.watched-btn {
  background: var(--button-orange);
  color: var(--white);
  border: none;
}
.queue-btn {
  background: var(--white);
  color: var(--black);
  border: 1px solid #000000;
}

.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .movie-modal {
    &__content {
      max-width: 880px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 50px 30px 30px 30px;
      height: auto;
      overflow: hidden;
    }
    &__image-container {
      min-width: 264px;
      height: auto;
    }
    &__buttons {
      justify-content: flex-start;
    }
    &__movie-title {
      font-size: 30px;
    }
  }
  .button {
    width: 125.03px;
  }
}
@media (min-width: 1024px) {
  .movie-modal {
    &__content {
      gap: 30px;
      padding-bottom: 40px;
    }

    &__image-container {
      min-width: 396px;
      height: 478px;
    }
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
