.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.75s, visibility 0.75s;
}

.spinner::after {
  content: '';
  width: 80px;
  height: 80px;
  border: 15px solid #dddddd;
  border-top-color: #ff6b08;
  border-radius: 100%;
  animation: spin 0.75s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
