<header class="header">
  <nav class="header__navigation">
    <a class="navigation__logo-link">
      <svg class="navigation__logo-svg">
        <use href="./images/sprite.svg#icon-logo" />
      </svg>
    </a>
    <ul class="navigation__links-list">
      <li class="navigation__list-item">
        <a href="/" class="navigation__list-link navigation__list-link--active"
          >Home</a
        >
      </li>
      <li class="navigation__list-item">
        <a href="/" class="navigation__list-link">My library</a>
      </li>
    </ul>
  </nav>
  <form class="header__search-form">
    <input
      type="text"
      placeholder="Search movies"
      class="header__search-input"
      name="search"
    />
  </form>
</header>
